{% extends 'tasks_app/base.html' %}
{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the Task Page</h1>
            <p></p>
            <form method="POST">
                {{ new_form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Add new task">
            </form>

        </div>
        {% if tasks_complete or tasks_todo %}

            <h2>Your todo list</h2>
            <ol>
            {% for task_todo in tasks_todo %}
                    <form action="{% url 'task_edit' pk=task_todo.pk %}" method="POST">
                        <li>
                            Task description: {{ task_todo.name }}
                            {{ edit_form.as_p }}
                            {% csrf_token %}
{#                            <a href="{%  url 'task_edit' pk=task_todo.pk %}">#}
                                <button type="submit" value="Complete">
                                    Complete
                                </button>
                            </a>
                        </li>
                    </form>
{#                {% endifequal %}#}
            {% endfor %}
            </ol>

            <hr>

            <h2>Your completed tasks</h2>
            <ol>
            {% for task_complete in tasks_complete %}
                <li style="text-decoration: line-through">
                    TaskDescription: {{ task_complete.name }}
                </li>
            {% endfor %}
            </ol>

        {% endif %}
    </div>

{% endblock %}